@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-container {
    @apply relative w-[280px];
  }
  .form-input {
    @apply h-[48px] w-[280px] pr-10 pl-[22px] border border-[#908B83] rounded-[5px] p-2 text-sm bg-white;
  }
  .form-label {
    @apply absolute top-0 bottom-0 p-0 m-0 h-3  left-4 pl-2 pr-3 flex items-center translate-y-[-50%] bg-white font-semibold text-sm;
  }
  .form-icon {
    @apply text-xl absolute top-0 right-[10px] translate-y-[75%];
  }
  .form-button {
    @apply bg-[#55A53F] h-[48px] w-[280px] rounded-[5px] text-white text-base font-medium cursor-pointer;
  }
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator {
  position: absolute;
  opacity: 0;
  z-index: 1;
  left: -4px;
  top: 0;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
input::-webkit-date-and-time-value {
  text-align: left;
  padding-left: 16px;
}
